@model TPISubastas.Sitio.Models.SubastaProductoFormulario
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
{
    <div class="alert alert-danger">
        @Html.ValidationSummary()
    </div>
}


<br />
<div class="row">
    <div class="col-12">
        <div class="card border">
            <div class="card-header">
                <h3><strong>Solicitud de publicación de un producto</strong></h3>
            </div>
        </div>
        <hr />
        <div class="card-body">
            <form asp-controller="Subasta" asp-action="Crear" method="post">
                <span asp-validation-sumary="All" class="text-danger"></span>
                <div class="form-group row">
                    <label asp-for="IdSubasta" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <select asp-for="IdSubasta" asp-items="@(Model.SubastasDisponibles)" class="form-control"><option>Elija una subasta</option></select>
                        <span asp-validation-for="IdSubasta" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="NombreProducto" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="NombreProducto" class="form-control" />
                        <span asp-validation-for="NombreProducto" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <label asp-for="MarcaProducto" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="MarcaProducto" class="form-control" />
                        <span asp-validation-for="MarcaProducto" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <label asp-for="DescripcionProducto" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <textarea asp-for="DescripcionProducto" class="form-control" ></textarea>
                        <span asp-validation-for="DescripcionProducto" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <label asp-for="ImagenProducto" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="ImagenProducto" class="form-control" />
                        <span asp-validation-for="ImagenProducto" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">
                    <label asp-for="FormaPago" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="FormaPago" class="form-control"/>
                        <span asp-validation-for="FormaPago" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <label asp-for="MontoInicial" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="MontoInicial" class="form-control" />
                        <span asp-validation-for="MontoInicial" class="text-danger"></span>
                    </div>

                </div>               

                <div class="form-group">
                    <button type="submit" class="btn btn-block btn-primary"><i class="fas fa-user">  Enviar solicitud</i></button>
                </div>

                <br />
                <div>
                    <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Volver</a>
                </div>

            </form>

        </div>
    </div>
</div>