@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/About-styles.css"/>
</head>


<div class="container"> 
    <div id="logo"class="p-5 text-center bg-image">
        <img src="/img/logo-PhotoRoom 2.png" />
    </div>
    <div id="info">
        <h3>¿Quienes somos?</h3>
        <p>
            Somos una empresa fundada en el año 2021 por dos estudiantes con mucha ambición y una visión firme hacia el futuro y la digitalización de los servicios.
        </p>
        <h3>¿Qué hacemos?</h3>
        <p>
            TUPsubastas es un sitio de subastas digitales, una oferta moderna para aquellos que deseen vender productos aspirando a una mayor rentabilidad o comprar procurando una estrategia de ofertas
            conveniente y así hacer valer al máximo su dinero. Todo desde la comodidad de su hogar y con conocimientos mínimos sobre uso de una PC como requisito, además de por supuesto, una conexión a internet.

        </p>
        <h3>¿Cómo funciona?</h3>
        <ul>
            <li>
                <h4>Vender</h4>
                <p>
                    La venta de productos consiste sencillamente en acceder a la sección 'Vender', elegir una futura subasta cuyo título se adecúe al tipo de producto que desea subastar, elegir la forma de pago que
                    desee y un monto mínimo desde el cual comiencen las ofertas siendo posible comenzar desde $0 si prefiere no establecer un mínimo.
                    Tenga en cuenta que la empresa recibe un 10% de la venta como comisión.
                </p>
            </li>
            <li>
                <h4>Ofertar y comprar</h4>
                <p>
                    Para comprar un producto que desee, primeramente debe acceder a la subasta abierta que le interese, elegir el producto y luego realizar una oferta. El ganador de la subasta por un producto en particular
                    se define al momento de cerrarse la subasta, siendo el último oferente el ganador de la misma.
                </p>
            </li>
        </ul>
        <h3>Para contactarnos</h3>
        <p>
            En caso de querer ponerse en contacto con nosotros, nos puede escribir a  <a href="mailto:emaildevpruebas@gmail.com?subject=Mail from Our Site">emaildevpruebas@gmail.com</a>
        </p>
        <br />
        <br />       
    </div>

</div>
